:root {
  /* colors (start) */
  --orangeLight-color: #ff8906;
  --gray-color: #a7a9be;
  --white-color: #fffffe;
  --black-color: #0f0e17;
  /* colors (end) */

  /* fonts (start) */
  --lora: "Lora", serif;
  --nunito: "Nunito", sans-serif;
  /* fonts (end) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--lora);
  background-color: var(--black-color);
}

main {
  display: grid;
  grid-template-rows: repeat(5, auto);
  width: 100%;
  max-width: 1300px;
  height: auto;
  padding: 0 20px;
}

/* Header (start) */
.header {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo img {
  margin-right: 10px;
}

.header__logo h2 {
  color: var(--white-color);
  font-size: 1.6rem;
}

.header__navbar {
  display: none;
}

.header__button {
  width: 130px;
  height: 50px;
  background-color: var(--orangeLight-color);
  color: var(--white-color);
  font-family: var(--nunito);
  font-size: 1.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
}
/* Header (end) */

/* Hero Section (start) */
.hero {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.hero__img {
  width: inherit;
}

.hero__img img {
  width: inherit;
}

.hero__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.hero__info h1 {
  font-size: 32px;
  color: var(--white-color);
  margin-bottom: 15px;
}

.hero__info p {
  color: var(--gray-color);
  font-size: 2rem;
  margin-bottom: 25px;
}
/* Hero Section (end) */
